.classification-header{
    text-align: center;
    margin: 25px auto 19px;
    font: bold 20px/22px MicrosoftYaHei-Bold;
    color: #000000;
    height: 22px;
}
.classification-content{
    margin: 0 auto;
    width: 130px;
}
.classification-content > div{
    float: left;
}
.common-app-title-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
}
.common-app-title-name{
    display: inline-block;
    line-height: 22px;
}
.common-apps{
    margin: 0 auto;
    display: table;
}
.common-apps-line{
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.common-app{
    display: table-cell;
    width: 103px;
    height: 120px;
    text-align: center;
    border: 1px solid #EEEEEE;

    box-sizing: border-box;
    cursor:pointer;
}
.common-app:empty{
    cursor:auto;
}
.common-apps>div+div {
    border-top: none;
}
.common-apps-line>div+div {
    border-left: none;
}
.common-app-title-icon{
    display: inline-block;
    width: 22px;
    height: 22px;
}
.common-app-title-name{
    display: inline-block;
}
.common-app-icon{
    margin: 25px auto 13px;
}
.common-app-menu{
    margin: 0 auto;
    font-size: 16px;
}
.common-app-icon-svg{
    width: 36px;
    height: 36px;
    cursor:pointer;
    pointer-events:auto;
}
.common-app-title-icon-click{
    cursor:pointer;
}
/*滚动条优化----开始*/
::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #b8b8b8;
    -webkit-border-radius: 6px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #878987;
    -webkit-border-radius: 6px
}
/*滚动条优化----结束*/
