.layui-form-label {
     padding: 9px 10px;
}
.gt-layout-a > div .layui-card {
     height: auto;
}
.gt-layout-card-body {
     height: auto;
     overflow: visible;
}
.layui-form-item{
     margin:5px 0 5px 0;
     padding: 0 5px;
}
.gt-layout-card-body>div+div {
     margin-top: 0;
}
.item-width-long0{
     width: 25px;
}
.item-width-long0 + div{
     margin-left: 45px;
}
.item-width-long2{
     width: 28px;
     padding: 9px 5px;
}
.item-width-long2 + div{
     margin-left: 38px;
}
.item-width-long5{
     width: 85px;
}
.item-width-long5 + div{
     margin-left: 105px;
}
.item-width-long7{
     width: 100px;
}
.item-width-long7 + div{
     margin-left: 120px;
}
.item-width-long10{
     width: 145px;
}
.item-width-long10 + div{
     margin-left: 165px;
}
.item-width-long15{
     width: 185px;
}
.item-width-long15 + div{
     margin-left: 205px;
}
.item-width-long20{
     width: 265px;
}
.item-width-long20 + div{
     margin-left: 285px;
}
.item-width-long25{
     width: 305px;
}
.item-width-long25 + div{
     margin-left: 325px;
}
.layui-col-xs12{
     border-width: 0!important;
}
.layui-form-label-left{
     float: left;
     display: block;
     padding: 9px 15px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
}
.header{
     font-size: 18px;
}